<%- include("../components/head") %>
<%- include("../components/header") %>

<main>
  <%- include("../components/hero") %>
  <%- include("../components/homeOverview") %>
  <%- include("../components/ctaStrip") %>
</main>

<%- include("../components/footer") %>
