<%- include("../components/head") %>
<%- include("../components/header") %>

<main>
  <%- include("../components/pageBanner") %>
  <%- include("../components/testimonials") %>
  <%- include("../components/ctaStrip") %>
</main>

<%- include("../components/footer") %>
